body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

#chat-container {
    max-width: 375px;
    width: 95%;
    height: 90%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display:flex;
    flex-direction: column;  
    background-color: #c6ecfb;  
}

#chat-header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

#chat-messages {
    padding: 10px;
    max-height: 85%;
    overflow-y: auto;
    flex-grow: 1; /* Allow messages to take up remaining space */
    background-image: url('/static/chacha-chaudhary-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: 40vh;
    background-position: center;
    
    
}

.message {
    margin-bottom: 8px;
    margin-top: 8px;
    
}

.user-message {
    background-color: #6ab3e3;
    border-radius: 8px;
    padding: 8px;
    
    text-align: right;
    
    width: fit-content;
    margin-right: 0px;
    margin-bottom: 1px;
    margin-top: 1px;
    display:inline-block;
    

    height:fit-content;
}

.bot-message {
    background-color: #ECEFF7;
    border-radius: 8px;
    padding: 8px;
    display: inline-block;
    margin-right: 40px;
}

#user-input {
    width: 100%;
    border: none;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    outline: none;
    margin-bottom: 15px;
}

.super{
    width:80%;
    justify-content: right;
    display: flex;
    margin-left: 15%;

}