<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div id="chat-container">
            <div id="chat-header"><b>Chacha Chaudhary</b></div>
            <div id="chat-messages">
                <!-- Bot's initial message -->
                <div class="message bot-message">Ask me anything about Ganga river.</div>
            </div>
            <input type="text" id="user-input" placeholder="Type your message...">
        </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
